@import "_mixins";
@import "susy";
@import "zen-grids";

/* FontAwesome
   ========================================================================== */

$fontAwesomePath:   "../font" !default;

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fontAwesomePath}/fontawesome-webfont.eot?v=3.0.1');
  src: url('#{$fontAwesomePath}/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"),
    url('#{$fontAwesomePath}/fontawesome-webfont.woff?v=3.0.1') format("woff"),
    url('#{$fontAwesomePath}/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Colors variables
   ========================================================================== */

$white:                   #fff;
$dark-gray:               #ccc;
$darker-gray:             #333;
$light-gray:              #dadada;
$lighter-gray:            #e5e5e5;
$gray:                    #ccc;
$black:                   #000;
$gray-transparent-bg:     rgba( 0, 0, 0, 0.7);
$red:                     #e10d3f;
$orange:                  #ea6621;
$green_light:             #b9c650;
$blue:                    #008abe;
$purple:                  #a34da4;
$marine:                  #47cfd1;
$yellow:                  #eae328;
$green:                   #78a854;

$zen-columns:             12;
$zen-gutters:             20px;

/* Widgets
   ========================================================================== */

.ding_nodelist-simple,
.ding_nodelist-simple > div {
  float: left;
}

.ding_nodelist-carousel {
  height: 200px;
}

/* Layout
   ========================================================================== */

.ding_nodelist-col-first {
  clear: left;
}

.ding_nodelist-col-full {
  width: 100%;
}

.ding_nodelist-col-half {
  width: 48%;
  margin-right: 4%;
}

.ding_nodelist-col-third {
  width: 31%;
  margin-right: 3%;
}

.ding_nodelist-col-quarter {
  width: 22%;
  margin-right: 3%;
}

.ding_nodelist-col-last {
  margin-right: 0;
}

.ding_nodelist-item {
  margin-bottom: 8px;
  margin-top: 10px;
}

/* Ding nodelist carousel
   ========================================================================== */

.ding_nodelist-carousel {
  .item {
    height: 170px;
  }

  .pagination {
    position: absolute;
  }

  .next-prev{
    position: absolute;
  }
}

.ding_editorial_article {
  border: 1px solid #e3e2d8;
  background: #f9f8ef;
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: justify;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 7px 9px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
}

.ding_editorial_event {
  height: auto;
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: justify;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.node {
  height: auto;
  padding: 10px 15px;
  margin-top: 20px;
  text-align: justify;
  vertical-align: baseline;
  color: #5f6a5f;

}

.event_body {
  height: auto;
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
  color: #5f6a5f;
}

/* Images
   ========================================================================== */

.event_image {
  float:left;
  padding: 5px;
  margin-right: 10px;
  border-color: #ccc #c1c1c1 #c1c1c1 #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 3px 3px 4px #c9c9c9;
  -moz-box-shadow: 3px 3px 4px #c9c9c9;
  box-shadow: 3px 3px 4px #c9c9c9;
}

.event_image .field-items {
  height: 180px;
}

.news_image {
  float:left;
  margin-right: 20px;
  border-color: #ccc #c1c1c1 #c1c1c1 #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 3px 3px 4px #C9C9C9;
  -moz-box-shadow: 3px 3px 4px #C9C9C9;
  box-shadow: 3px 3px 4px #C9C9C9;
}

.artile_image .field-item {
  width: 220px;
  height: 160px;
}

/* Name and date
   ========================================================================== */

.bottom {
  padding-bottom: 10px;
  clear: both;

  ul {
    padding: 0;
    margin: 0;

    li {
      float: left;
      list-style: none;
      margin-right: 20px;
      color: #6A6960;
      height: 20px;
    }
  }
}

.name {
  background: url(../images/node-author.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 15px;
}

.date {
  float: right;
  background: url(../images/node-created.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 19px;
}

/* More links
   ========================================================================== */

.ding_nodelist-horizontal_accordeon {
  li.slide-closed .data {
    display: none;
  }

  li.slide-open .data {
    display: block;
  }

  li {
    position: relative;
    height: 350px;

    .event_date {
      position: absolute;
    }
  }
}

/* Slider base styles
   ========================================================================== */

.ding_nodelist-slider {
  height: 400px;
  overflow: hidden;

  .legend {
    float: left;
    width: 300px;
  }

  .ding_nodelist-items {
    float: left;
    width: 600px;

    .item {
      width: 100%;
    }
  }
}

.ding_nodelist-vertical_accordion .va-slice {
  cursor: pointer;
}


// Variables
//==========================================================================

$label-bg: url('../images/p.png');


// All nodelists
//==========================================================================

.col3 .ding_nodelist-taxonomy .item .item-list-image,
.col4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.ding_nodelist {
  overflow: hidden;
  margin-bottom: 20px;

  .node .item-date,
  .node .library,
  .node .item-price,
  .data .event-timestamp,
  .data .event-details,
  .item-details .item-date,
  .item-details .item-library,
  .item-details .item-price {
    font-size: 80%;
  }

  .node > p {
    margin: 10px 0;
  }

  .node-title {
    text-decoration: underline;

    a {
      color: $white;
    }
  }

  .more {
    display: none;
  }

  // Event timestamp
  .event-time {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 49;
    padding: 0 0 5px;
    width: 60px;
    background-color: $white;
    text-align: center;

    // Event day
    .event-day {
      background: $dark-gray;
      color: $white;
      margin-bottom: 5px;
      font-size: 80%;
      line-height: 1.4;

      a {
        color: $white;
      }

      a:hover {
        text-decoration: none;
      }
    }

    // Day
    .event-date,
    .event-month {
      line-height: 1;
    }

    .event-date  { font-size: 120%; }
    .event-month { font-size:  80%; }

  }

  // Event label
  .event-label {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 68px;
    background-image: $label-bg;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
  }

  // Category

  .label {
    margin: 10px 5px;
  }

  .label-wrapper {
    margin: 10px 0;
  }

  // Node info wrapper

  .node,
  &.ding_nodelist-horizontal_accordion .data {
    min-height: 40px;
    overflow: hidden;
    background-color: $gray-transparent-bg;
    color: $white;
    padding: 10px !important;
  }

  .node {
  }

  .more {

    // More link

    a {
      color: $white;
      display: block;
      text-align: right;
      text-decoration: none;
      font-size: 120%;
    }
  }

  // Text wrapper

  .article-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 49;
    width: 100%;
  }
}

// Ding nodelist carousel
//==========================================================================

.ding_nodelist-carousel {
  position: relative;
  height: 391px;
  overflow: inherit;

  // Item

  .item {
    position: relative;
    height: 391px;
  }

  h2 {
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 49;
    color: $white;
  }

  // Next / Previous buttons

  .next-prev {
    display: none;
    position: relative;
    top: 10px;
    left: 0;

    span {
      display: none;
    }

    .prev {
      left: 10px;

      &:after {
        content: '\f053';
      }
    }

    .next {
      left: 40px;

      &:after {
        content: '\f054';
      }
    }

    .prev,
    .next {
      position: absolute;
      top: 10px;

      &:hover {
        border-radius: 50px;
        background-color: $dark-gray;
        text-decoration: none;

        &:after {
          color: $gray;
        }
      }

      &:after {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 20px;
        text-align: center;
        font-family: 'FontAwesome';
      }
    }
  }

  // Pagination

  .pagination {
    right: 10px;
    top: 10px;
    position: absolute;

    a {
      border-radius: 50px;
      background-color: $gray;
      display: block;
      float: left;
      width: 25px;
      height: 25px;
      color: $white;
      text-align: center;
      text-decoration: none;
      margin-left: 5px;
    }

    // Active

    .selected {
      background-color: $dark-gray;
      color: $white;
    }
  }

  h3 {
    margin: 3px 0;
    padding: 0;
    text-align: left;

    a {
      margin-right: 10px;
      color: $white;
    }
  }

  .article_image,
  .event-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

  }

  .field-type-image {
    margin: 0 auto;
  }

  .article_image img,
  .event-image img {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .article_image .field-label,
  .event-image .field-label {
    display: none;
  }
}

// Horizontal accordion
//==========================================================================

.ding_nodelist-horizontal_accordion {
  background: $black;
  overflow: hidden;

  // Item

  .item {
    position: relative;
  }

  .item_content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  // Icon

  .expand {
    border-radius: 50px;
    position: absolute;
    bottom: 75px;
    left: 10px;
    z-index: 10;
    display: block;
    background-color: $dark-gray;
    color: $white;
    cursor: pointer;

    &:after {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 32px;
      color: $white;
      content: '\f054';
      text-align: center;
      font-family: 'FontAwesome';
    }

    a {
      display: none;
    }
  }

  .slide-open {

    .expand {
      right: 10px;
      left: auto;

      &:after {
        content: '\f067';
      }
    }

    .image img {
      opacity: 1;
    }
  }

  // Image

  .image {

    a {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: block;
      background-color: $black;

      // Media small

      @include small() {
        width: 310px;
        height: 260px;
      }

      // Media medium

      @include medium() {
        width: 400px;
        height: 300px;
      }

      // Media large-x-large

      @include large-x-large() {
        width: 450px;
        height: 340px;
      }
    }

    img {
      opacity: .25;
      min-width: 100%;
      width: auto;
      height: 100%;
    }
  }

  // Data block

  .data {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: $white;

    span,
    .event-fee {
      margin-right: 5px;
    }

    a {
      color: $white;
    }
  }

  // Caption

  .caption {
    overflow: hidden;

    h3 {
      max-height: 30px;
      margin: 5px 0;

      // Media till-medium

      @include till-medium() {
      }
    }
  }

  // Library info

  .library {
    overflow: hidden;
    max-height: 24px;

    > div {
      float: left;
    }
  }
}

// Ding nodelist single item
//==========================================================================

.ding_nodelist-single {
  overflow: hidden;
  background-color: $white;

  // Image

  .article_image,
  .event-image {

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }

    img {
      display: none;
    }
  }

  // Item

  .item {
    position: relative;
    overflow: hidden;

    // Media from-small

    @include from-small() {
      height: 381px;
    }

    // Date

    .event-label,
    .event-time {

      // Media small

      @include small() {
        visibility: hidden;
      }
    }


  }

  // Title

  h3 {
    margin: 0 0 10px 0;

    a {
      display: block;
      color: $white;

      // Media from-medium

      @include from-medium() {
      }
    }
  }
}


// Nodelist slider
//==========================================================================

.ding_nodelist-slider {
  position: relative;
  background-color: $white;
  padding-top: 10px;

  .item {
    min-height: 122px;
  }

  // Title

  .node {
    background: none;
    color: $black;
    padding: 0 !important;
  }

  .item-body {
    margin-top: 10px;
  }

  .more a {
    color: $black;
  }

  .label {
    margin-left: 0;
  }

  .category {
    float: right;
    margin-top: 4px;
  }

  .legend {

    // Media till-medium

    @include till-medium() {
      margin-bottom: 10px;
      padding-right: 2em;
    }

    // Media from-medium

    @include from-medium() {
      @include span(4 of 12);
      text-align: right;
    }

    h2 {

      // Media from-medium

      @include from-medium() {
      }
    }

    span {
      display: block;
    }
  }

  // Carousel

  .ding_nodelist-items {

    // Media till-medium

    @include till-medium() {
      padding-right: 2em;
    }

    // Media from-medium

    @include from-medium() {
      @include span(last 8 of 12 (border-box));
      @include suffix(2em);
    }
  }

  // Item

  .item {
    margin-bottom: 10px;
  }

  // Date

  .date-created {
  }

  // Node title

  h3.node-title {
    margin-bottom: 5px;

    a {
      color: $darker-gray;
    }
  }

  // Node text

  .node {
    margin-top: 0;
    padding: 0;
  }

  // More link

  .more {
    margin-bottom: 5px;

    a {

      // Media till-medium

      @include till-medium() {
        display: inline-block;
        padding: 5px 10px;
      }
    }
  }

  // Next ... prev buttons

  .next-prev {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 25px;

    span {
      display: none;
    }

    a {
      border-radius: 50px;
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      background-color: $gray;
      color: $white;

      &:hover {
        background-color: $dark-gray;
      }

      &:after {
        display: inline-block;
        width: 24px;
        height: 24px;
        color: $white;
        content: '\f054';
        text-align: center;
        font-family: 'FontAwesome';
      }
    }

    .next {
      bottom: 10px;

      &:after {
        content: '\f107';
      }
    }

    .prev {
      top: 10px;

      &:after {
        content: '\f106';
      }
    }
  }
}

// Nodelist vertical accordion
//==========================================================================

.va-wrapper {
  position: relative;

  .ding_nodelist-items .news {
    background-color: $white;
    background-repeat: no-repeat;
  }

  .item {
    position: absolute;
    z-index: 10;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    &:first-of-type {
      border-top: 0;
    }
  }

  .va-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    background-image: $label-bg;
    width: 100%;

    &,
    h3,
    a {
      color: $white;
    }

    .label {
      margin-left: 0;
    }

    .inner-wrapper {
      margin: 10px;
    }
  }

  .active .va-content {
    visibility: visible;
  }

  .va-title {
    position: relative;
    z-index: 1;

    // Media till-medium

    @include till-medium() {
      visibility: hidden;
    }
  }

  .active .va-title {

    // Media till-medium

    @include till-medium() {
      visibility: visible;
    }
  }

}

// Nodelist fieldset
//==========================================================================
fieldset {
  legend {
    margin: 0;
    padding: 0;
  }
}

// Taxonomy nodelist
//==========================================================================

.attachments-3-3 .ding_nodelist-taxonomy .item .item-list-image,
.tertiary-content .ding_nodelist-taxonomy .item .item-list-image,
.attachments-4-4 .ding_nodelist-taxonomy .item .item-list-image {
  display: none;
}

.ding_nodelist-taxonomy {
  .item:nth-child(odd) {
    background-color: $light-gray;
  }

  .event-list-leaf + .item {
    .item-list-image {
      display: none;
    }

    .item-details {
      display: block;
      padding: 10px;
      width: calc(100% - 20px);
      position: relative;
    }

    .item-title {
      font-size: 110%;
      margin-right: 25px;
    }

    .item-body {
      display: none;
    }

    .item-library,
    .item-date,
    .item-price {
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      margin-right: 5px;
    }

    .event-arrow-link {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -10px;
    }
  }

  .item {
    background-color: $lighter-gray;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .item-details {
      overflow: hidden;
    }

    .date {
      color: rgba(76, 76, 76, 0.5);
      display: inline-block;
      float: none;
      background: none;
      padding-left: 0;
      position: relative;
      top: 2px;
      margin-right: 2px;
    }

    &:first-of-type {
      border-top: 0;
    }

    .item-title {
      font-size: 120%;

      a {
        font-weight: 700;
      }
    }

    .item-date {
      color: $darker-gray;
    }

    .item-author {
      display: none;
    }

    .author {
      display: inline-block;
      position: relative;
      top: 2px;
    }

    .item-byline {
      > .label {
        margin: 0;
        display: inline-block;

        > .label {
          display: inline-block;
          font-size: 100%;
          margin: 0;

          a {
            margin: 0 2px 0 0;
          }
        }
      }

      @include small-medium() {
        display: none;
      }
    }

    .news-link {
      float: right;
    }

    .item-body {
      margin-top: 1em;
      margin-bottom: 1em;

      @include small-medium() {
        color: rgba(0, 0, 0, 0.7);
      }
    }

    // Media from-medium

    @include small-medium() {
      .item-list-image {
        display: none;
      }
    }

    .item-details,
    .item-list-image {
      padding: 20px;
    }

    @include from-medium() {
      display: table;

      .item-details,
      .item-list-image {
        display: table-cell;
        vertical-align: top;
      }

      .item-list-image {
        padding-right: 10px;
        width: 159px;

        img {
          width: 159px;
          height: auto;
          min-width: 159px;
        }
      }
    }
  }
}

/**
 * Rolltab
 */
/* Spacing variables
   ========================================================================== */

$large-spacing:                   20px;
$medium-spacing:                  10px;
$small-spacing:                   5px;

/* Standard color definitions
   ========================================================================== */
$white:                          #fff !default;
$black:                          #000 !default;
$gray:                           #d5d5d5 !default;
$gray-light:                     lighten($gray, 10%) !default;
$gray-lighter:                   lighten($gray, 15%) !default;
$gray-dark:                      darken($gray, 10%) !default;
$gray-darker:                    darken($gray, 25%) !default;
$gray-darkest:                   darken($gray, 35%) !default;
$red:                            #a32e10;
$green:                          #528c10;
$yellow:                         #f0cb28;
$blue:                           #00caff;

/* Variables
   ========================================================================== */
$rolltab-background-color:                $white;
$rolltab-tab-background-color:            transparentize($black, .4);
$rolltab-tab-color:                       $white;


/* Wrapper, load and inner
   ========================================================================== */
.ding_nodelist-rolltab-wrapper {
  @include small-medium() {
    background-color: $red;
    padding: $large-spacing;

    .ui-tabs .ui-tabs-panel {
      width: 100% !important;
    }

    .image img {
      left: 0 !important;
      transform: translate(0,0) !important;
      height: auto !important;
      width: 100% !important;
    }

    span.no-image:before {
      top: 60% !important;
    }
  }
}


/* Tabroll tabs navigation
   ========================================================================== */
.ding_nodelist-rolltab-select-tabs {
  display: none;
}

@include small-medium() {
  .ding_nodelist-rolltab-select-tabs {
    display: block;
  }
}

/* Tabroll tabs
   ========================================================================== */
.ding_nodelist-rolltab-wrapper {
  position: relative;
  overflow: hidden;

  span.no-image {
    min-height: 295px;
    background: #ddd;
    display: block;
    position: relative;

    &:before {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 32px;
      color: $white;
      content: '\f016';
      text-align: center;
      font-family: 'FontAwesome';
      font-size: 60px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -150%);
    }
  }

  .image {
    img {
      max-width: none;
      width: auto;
      position: relative;
      left: 50%;
      height: 295px;
      transform: translate(-50%,0%);
    }
  }

  .ui-tabs {
    overflow: hidden;

    ul.ui-tabs-nav {
      @include zen-grid-item(3, 1);

      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 1;
      width: 25%;
      height: 100%;

      position: absolute;
      top: 0;

      li {
        background: $rolltab-tab-color;
        display: block;
        overflow: hidden;
        float: none;
        white-space: normal;
        margin: 0px;
        padding: 0px;
        height: 20%;
        border-top: 1px solid #ccc;

        &:hover {
          border-top: 1px solid $blue;
        }

        a {
          cursor: pointer;

          &:hover {
            background: $blue;

            span {
              color: #fff;
            }
          }
        }

        &:first-child {
          border-top: none;
        }

        &.ui-tabs-selected {
          background: $rolltab-tab-background-color;

          a {
            color: #fff;
          }
        }
      }

      a {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;

        &:before {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }
    }

    .ui-tabs-panel {
      @include zen-grid-item(9, 1, right);
      position: relative;
      margin: 0;
      padding: 0;
      width: 75%;

      .info {
        z-index: 1;
        background: $rolltab-tab-background-color;
        color: #fff;
        padding: $medium-spacing;

        position: absolute;
        bottom: 20px;
        right: 20px;

        height: auto;
        width: 93%;

        h3 a {
          color: #fff;
        }
      }
    }
  }

  @include small-medium() {
    .ui-tabs-nav {
      display: none;
    }

    .ui-tabs .ui-tabs-panel {
      @include zen-grid-item(12, 1);

      margin: 0 0 20px 0;
      padding: 0;

      .info {
        position: relative;
        width: auto;
        right: 0;
        bottom: 0;
      }
    }
  }
}

// Promoted nodes
//==========================================================================

/* Variables
   ========================================================================== */
$promoted-nodes-bg-1:                      #cdda6b;
$promoted-nodes-bg-2:                      #6a7ebc;
$promoted-nodes-text-color-1:              $white;
$promoted-nodes-text-color-2:              $black;
$promoted-nodes-text-color-3:              $white;
$promoted-nodes-text-color-4:              $white;
$promoted-nodes-button-bg-1:               #009fe0;
$promoted-nodes-button-bg-2:               #009fe0;
$promoted-nodes-button-bg-3:               $white;
$promoted-nodes-button-bg-4:               #009fe0;
$promoted-nodes-button-text-1:             $white;
$promoted-nodes-button-text-2:             $white;
$promoted-nodes-button-text-3:             #009fe0;
$promoted-nodes-button-text-4:             $white;


.ding_nodelist-promoted_nodes {
  width: inherit;

  .first-row,
  .last-row {
    display: block;
    height: 420px;
  }

  .first-row {
    margin-bottom: 20px;
  }

  .ding_nodelist-pn-item {
    padding: 25px;
    position: relative;
    box-sizing: border-box;

    h3 {
      font-size: 180%;
      line-height: 120%;

      @include small-medium() {
        font-size: 100%;
      }

      a {
        opacity: 1;
        text-shadow: 0 1px 1px rgba(0,0,0,0.2);
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .item-body,
    .item-date,
    .item-price,
    .library {
      font-size: 150%;
      line-height: 120%;

      @include small-medium() {
        font-size: 100%;
      }
    }

    .item-body {
      max-height: 86px;
      overflow: hidden;
    }

    .library a {
      text-decoration: underline;
      opacity: 0.8;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    .read-more {
      position: absolute;
      bottom: 20px;

      a {
        font-size: 16px;
        opacity: 1;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .read-more {
    a {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      padding: 0 45px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .first-left-block {
    color: $promoted-nodes-text-color-1;
    height: 420px;
    @include zen-grid-item(8, 1);
    padding-left: 0;
    padding-right: 20px;

    a {
      color: $promoted-nodes-text-color-1;
    }

    .read-more a {
      background: $promoted-nodes-button-bg-1;
      color: $promoted-nodes-button-text-1;
    }

    @include small-medium() {
      @include zen-grid-item(12, 1);
      clear: both;
      height: 360px;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  .first-right-block {
    background: $promoted-nodes-bg-1;
    color: $promoted-nodes-text-color-2;
    height: 420px;
    @include zen-grid-item(4, 1, right);

    a {
      color: $promoted-nodes-text-color-2;
    }

    .read-more a {
      background: $promoted-nodes-button-bg-2;
      color: $promoted-nodes-button-text-2;
    }

    @include small-medium() {
      @include zen-grid-item(12, 1);
      clear: both;
      height: 360px;
      margin-bottom: 10px;
    }
  }

  .last-left-block {
    background: $promoted-nodes-bg-2;
    color: $promoted-nodes-text-color-3;
    height: 420px;
    float: left;
    @include zen-grid-item(4, 1);

    a {
      color: $promoted-nodes-text-color-3;
    }

    .read-more a {
      background: $promoted-nodes-button-bg-3;
      color: $promoted-nodes-button-text-3;
    }

    @include small-medium() {
      @include zen-grid-item(12, 1);
      clear: both;
      height: 360px;
      margin-bottom: 10px;
    }
  }

  .last-right-block {
    color: $promoted-nodes-text-color-4;
    @include zen-grid-item(8, 1, right);
    height: 420px;
    padding-left: 20px;
    padding-right: 0;

    a {
      color: $promoted-nodes-text-color-4;
    }

    .read-more a {
      background: $promoted-nodes-button-bg-4;
      color: $promoted-nodes-button-text-4;
    }

    @include small-medium() {
      @include zen-grid-item(12, 1);
      clear: both;
      height: 360px;
      margin-bottom: 10px;
      padding: 0;
    }
  }

  .ding_nodelist-pn-item {
    height: 100%;
  }
}


.ding_nodelist-node_blocks {
  margin-left: -10px;
  margin-right: -10px;
  width: inherit;

  .ding_nodelist-items {

    $ding_nodelist-node_blocks-items-background-1:  #0093ba;
    $ding_nodelist-node_blocks-items-background-2:  #ea6621;

    $ding_nodelist-node_blocks-items-color-1:  #fff;
    $ding_nodelist-node_blocks-items-color-2:  #fff;


    .nb-item {
      height: 250px;
      margin-bottom: 10px;
      color: #fff;
      /* text-shadow: 0 0 1px rgba(0,0,0,0.3); */
      @include zen-grid-container;

      &:nth-child(1) {
        @include zen-grid-item(3, 1, left);
      }

      &:nth-child(2) {
        @include zen-grid-item(3, 4, left);
      }

      &:nth-child(3) {
        @include zen-grid-item(3, 7, left);
      }

      &:nth-child(4) {
        @include zen-grid-item(3, 1, right);
      }

      &:nth-child(5) {
        @include zen-grid-item(3, 1, left);
        margin-top: 270px;
      }

      &:nth-child(6) {
        @include zen-grid-item(3, 4);
        margin-top: 270px;
      }

      &:nth-child(7) {
        @include zen-grid-item(3, 7);
        margin-top: 270px;
      }

      &:nth-child(8) {
        @include zen-grid-item(3, 1, right);
        margin-top: 270px;
      }

      .nb-inner {
        padding: 10px;
        height: 230px;
      }

      .nb-library a {
        color: #fff;
        opacity: 0.7;
        text-decoration: underline;
        text-shadow: 0 0 1px rgba(0,0,0,0.3);
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }
      }

      h3 a {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
        opacity: 1;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.7;
        }
      }

      &.ding_event {
        h3 a {
          &:before {
            display: inline-block;
            font-size: 21px;
            padding-right: 6px;
            color: $white;
            content: '\f073';
            font-family: 'FontAwesome';
          }
        }
      }

      &.ding_news {
        h3 a {
          &:before {
            display: inline-block;
            font-size: 21px;
            padding-right: 6px;
            color: $white;
            content: '\f036';
            font-family: 'FontAwesome';
          }
        }
      }

      &.ding_event .nb-inner {
        background: $ding_nodelist-node_blocks-items-background-1;
        color: $ding_nodelist-node_blocks-items-color-1;
      }

      &.ding_news .nb-inner {
        background: $ding_nodelist-node_blocks-items-background-2;
        color: $ding_nodelist-node_blocks-items-color-2;
      }
      
      @include small-medium() {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          @include zen-grid-item(12, 1);
          clear: both;
          margin-top: 10px;
        }
      }
    }
  }
}

.secondary-content,
.col9 {
  .ding_nodelist-items .nb-item {
    &:nth-child(1) {
      @include zen-grid-item(4, 1);
    }

    &:nth-child(2) {
      @include zen-grid-item(4, 5);
    }

    &:nth-child(3) {
      @include zen-grid-item(4, 1, right);
    }

    &:nth-child(4) {
      @include zen-grid-item(4, 1);
      margin-top: 270px;
    }

    &:nth-child(5) {
      @include zen-grid-item(4, 5);
      margin-top: 270px;
    }

    &:nth-child(6) {
      @include zen-grid-item(4, 1, right);
      margin-top: 270px;
    }

    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }
}

/* More links styles */

.ding_nodelist {
  .more-links {
    background: #ccc;
    display: block;
    clear: both;
    padding: 5px 10px;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 90%;
        margin: 0 10px 0 0;

        a {
          color: #333;

          &:before {
            color: #333;
            content: "\f0c1";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            margin-right: 5px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
  }
}

.ding_nodelist-promoted_nodes {
  .more-links {
    margin-top: 20px;
  }
}

.ding_nodelist-node_blocks {
  .more-links {
    margin: 10px 10px 0;
  }
}

/* Video preview styles */

.ding_nodelist {
  .has-video {
    .media-container {
      position: absolute;
      left: -10px;
      right: -10px;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;

      .media-content {
        width: 100%;
        height: 100%;

        iframe {
          width: calc(100% + 21px);
          height: 100%;
        }

        &:empty {
          display: none;
        }
      }

      .close-media {
        position: absolute;
        z-index: 100;
        color: #fff;
        top: 10px;
        left: 20px;
        display: none;
        width: 30px;
        height: 30px;
        background: $white;
        border-radius: 100px;
        cursor: pointer;
        text-align: center;

        i {
          color: $blue;
          line-height: 30px;

          &:before {
            content: "\f00d";
            font-size: 100%;
            line-height: 120%;
          }
        }
      }
    }
  }

  .media-play {
    font-size: 180%;
    position: absolute;
    right: 10px;
    bottom: 22px;
    background: $white;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 50;

    i {
      line-height: 40px;
      color: $blue;

      &:before {
        content: "\f144";
      }
    }
  }

  &.ding_nodelist-promoted_nodes {
    .last-right-block {
      .media-container {
        left: 0;
      }
    }
  }
}

.ding_nodelist.ding_nodelist-minimal_display {
  padding: 15px 15px 3px 15px;
  background: $white;
  clear: both;
  width: auto !important;
  overflow: hidden;

  .ding_nodelist-title {
    font-size: 160%;
  }

  .more-links {
    background: $white;
    float: right;
    padding: 0;

    ul li {
      margin: 0;

      a {
        font-size: 16px;
        color: #00b7e7;;

        &:before {
          content: "";
        }
      }
    }
  }
}

.ding_nodelist-minimal-items {
  .minimal-item {
    display: inline-block;
    width: 100%;
    margin-bottom: -.46em;

    .minimal-title {
      float: left;
      padding: 6px 10px 0 10px;
      a {
        display: inline-block;
        font-weight: bold;
        color: $black;
      }
    }

    .minimal-date {
      float: right;
      padding: 10px 20px 0 0;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .even {
    background: #f2f2f2;
  }

  .odd {
    background: #e8e8e8;
  }
}

.tertiary-content .pane-ding-nodelist
.ding_nodelist-minimal_display
.minimal-item .minimal-title a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 240px!important;
}
